<link rel="stylesheet" href="/css/index.css" media="screen" title="no title">
<div class="strengths">
    <h1>我们的优势</h1>
    <ul>
        <li>
            <img src="/img/multi_blue.png" alt="">
            <div class="info">
                <h2>跨平台</h2>
                <p>支持多端</p>
                <p>实现Web和App互通</p>
                <p>应用商店</p>
            </div>
        </li>
        <li>
            <img src="/img/quick_blue.png" alt="">
            <div class="info">
                <h2>快速定位</h2>
                <p>支持多端</p>
                <p>实现Web和App互通</p>
                <p>应用商店</p>
            </div>
        </li>
        <li>
            <img src="/img/efficient_blue.png" alt="">
            <div class="info">
                <h2>高效</h2>
                <p>支持多端</p>
                <p>实现Web和App互通</p>
                <p>应用商店</p>
            </div>
        </li>
    </ul>
</div>
