
<link rel="stylesheet" href="/css/index.css" media="screen" title="no title">
<div class="img-box">
    <img src="img/img3.jpg" alt="" />
    <div class="bg"> </div>
</div>

<div class="detail">
    <h1>一站式互联网营销解决方案</h1>
    <h3>多维度立体化整合媒体资源</h3>
    <h3>精准化大数据挖掘，匹配用户属性</h3>
    <h3>助力广告效果全面</h3>
</div>

<div class="coop-box">
    <header>
        <h2>合作伙伴</h2>
    </header>
    <ul>
        <li><span class="logo-list l-1"></span></li>
    </ul>
</div>

<script type="text/javascript" src="js/index.js"></script>
