
<link rel="stylesheet" href="/css/index.css" media="screen" title="no title">
<div class="img-box">
    <img src="img/img3.jpg" alt="" />
    <div class="bg"> </div>
</div>

<div class="detail">
    <h1>一站式互联网营销解决方案</h1>
    <h3>多维度立体化整合媒体资源</h3>
    <h3>精准化大数据挖掘，匹配用户属性</h3>
    <h3>高效的推广方式为您带来更多更高质量的用户</h3>
</div>

<div class="coop-box">
    <header>
        <h2>合作伙伴</h2>
    </header>
    <ul>
        <li><a target="_blank" href="http://game.qq.com/"><img class="logo" src="img/logos/logo-tencent.png" alt="" /></a></li>
        <li><a target="_blank" href="http://www.360.com"><img class="logo" src="img/logos/logo-360.png" alt="" /></a></li>
        <li><a target="_blank" href="http://www.sina.com.cn/"><img class="logo" src="img/logos/logo-sina.png" alt="" /></a></li>
        <li><a target="_blank" href="http://www.toutiao.com/"><img class="logo" src="img/logos/logo-toutiao.png" alt="" /></a></li>
        <li><a target="_blank" href="http://www.mi.com/"><img class="logo" src="img/logos/logo-mi.png" alt="" /></a></li>
        <li><a target="_blank" href="http://www.baidu.com/"><img class="logo" src="img/logos/logo-baidu.png" alt="" /></a></li>
        <li><a target="_blank" href="http://www.jd.com/"><img class="logo" src="img/logos/logo-jd.png" alt="" /></a></li>
        <li><a target="_blank" href="http://www.iqiyi.com/"><img class="logo" src="img/logos/logo-iqiyi.png" alt="" /></a></li>
        <li><a target="_blank" href="http://www.meituan.com"><img class="logo" src="img/logos/logo-meituan.png" alt="" /></a></li>
        <li><a target="_blank" href="http://www.ifeng.com/"><img class="logo" src="img/logos/logo-fenghuang.png" alt="" /></a></li>
        <li><a target="_blank" href="http://www.163.com/"><img class="logo" src="img/logos/logo-wangyi.png" alt="" /></a></li>
        <li><a target="_blank" href="http://www.ctrip.com/"><img class="logo" src="img/logos/logo-xiecheng.png" alt="" /></a></li>
    </ul>
</div>

<!-- <script type="text/javascript" src="js/index.js"></script> -->
