
<link rel="stylesheet" href="/css/index.css" media="screen" title="no title">
<div class="img-wraper">
    <div class="img-box">
        <img src="img/img3.jpg" alt="" />
        <div class="bg"> </div>
    </div>
</div>
<div class="detail">
    <h1>一站式互联网营销解决方案</h1>
    <h3>多维度立体化整合媒体资源</h3>
    <h3>精准化大数据挖掘，匹配用户属性</h3>
    <h3>高效的跨平台推广为您带来更多更高质量的用户</h3>
</div>

<div class="coop-box">
    <header>
        <h2>合作伙伴</h2>
    </header>
    <ul id="coopList">
        <li><a target="_blank" href="http://game.qq.com/"><canvas class="logo" width="160" height="50"></canvas></a></li>
        <li><a target="_blank" href="http://www.360.com"><canvas class="logo" width="160" height="50"></canvas></a></li>
        <li><a target="_blank" href="http://www.sina.com.cn/"><canvas class="logo" width="160" height="50"></canvas></a></li>
        <li><a target="_blank" href="http://www.toutiao.com/"><canvas class="logo" width="160" height="50"></canvas></a></li>
        <li><a target="_blank" href="http://www.mi.com/"><canvas class="logo" width="160" height="50"></canvas></a></li>
        <li><a target="_blank" href="http://www.baidu.com/"><canvas class="logo" width="160" height="50"></canvas></a></li>
        <li><a target="_blank" href="http://www.jd.com/"><canvas class="logo" width="160" height="50"></canvas></a></li>
        <li><a target="_blank" href="http://www.iqiyi.com/"><canvas class="logo" width="160" height="50"></canvas></a></li>
        <li><a target="_blank" href="http://www.meituan.com"><canvas class="logo" width="160" height="50"></canvas></a></li>
        <li><a target="_blank" href="http://www.ifeng.com/"><canvas class="logo" width="160" height="50"></canvas></a></li>
        <li><a target="_blank" href="http://www.163.com/"><canvas class="logo" width="160" height="50"></canvas></a></li>
        <li><a target="_blank" href="http://www.ctrip.com/"><canvas class="logo" width="160" height="50"></canvas></a></li>
    </ul>
</div>
