<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{title}}</title>
</head>
<link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
<body>
    <div class="head-wrapper">
        <div class="bg"></div>
        <img src="img/logo.png" class="logo" alt="" />
        <ul>
            <li class="active"><h3><a href="#">首页</a></h3></li>
            <li><h3><a href="#">解决方案</a></h3></li>
            <li><h3><a href="#">关于我们</a></h3></li>
            <li><h3><a href="#">加入我们</a></h3></li>
        </ul>
    </div>
    <div class="body">
        {{{body}}}
    </div>
    <div class="foot-wrapper">
        <span>Copyright © 2016 Jemmy Network Technology. All rights Reserved. 北京杰米网络科技有限公司 版权所有 京ICP备16028193号-1</span>
    </div>
</body>
</html>
