<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="广告 大数据营销 互联网 移动端 解决方案 游戏 推广">
    <meta name="description" content="杰米网络科技有限公司是一个专注于互联网大数据营销的广告公司，主要提供移动端的高效解决方案，成功为多款App(游戏，直播，理财类)推广">
</head>
<link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
<body>
    <div class="head-wrapper">
        <div class="bg"></div>
        <img src="img/logo-h1.png" class="logo" alt="互联网 推广 解决方案 精准 大数据 App高质量用户 一手渠道" />
        <ul>
            <li class="active"><h3><a href="/">首页</a></h3></li>
            <li><h3><a href="#">解决方案</a></h3></li>
            <li><h3><a href="/about">关于我们</a></h3></li>
            <li><h3><a href="#">加入我们</a></h3></li>
        </ul>
    </div>
    <div class="body">
        {{{body}}}
    </div>
    <div class="foot-wrapper">
        <span>Copyright © 2016 Jemmy Network Technology. All rights Reserved. 北京杰米网络科技有限公司 版权所有 京ICP备16028193号-1</span>
    </div>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
