<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="微信小游戏 微信小程序 h5 大数据营销 互联网 移动端 解决方案 推广 用户增长 应用市场">
    <meta name="description" content="杰米网络科技有限公司是一个专注于互联网大数据营销的广告公司，主要提供移动端的高效解决方案，成功为多款App(游戏，直播，理财，小程序关键词类)推广">
</head>
<link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
<body>
    <div class="head-wrapper">
        <div class="bg"></div>
        <a href="/"><img src="img/logo-h1.png" class="logo" alt="微信小程序 公众号 企鹅号 头条号 互联网 推广 解决方案 精准 有效用户 官方市场应用" /></a>
        <ul>
            {{#if indexActive}}
                <li class="nav active"><a href="/"><h3>首页</h3></a></li>
            {{else}}
                <li class="nav"><a href="/"><h3>首页</h3></a></li>
            {{/if}}

            <li class="nav"><a href="#"><h3>解决方案</h3></a></li>

            {{#if aboutActive}}
                <li class="nav active"><a href="#"><h3>关于我们</h3></a></li>
            {{else}}
                <li class="nav"><a href="#"><h3>关于我们</h3></a></li>
            {{/if}}

            <li class="nav"><a href="#"><h3>加入我们</h3></a></li>
        </ul>
    </div>
    <div class="body">
        {{{body}}}
    </div>
    <div class="foot-wrapper">
        <span>Copyright © 2016 Jemmy Network Technology. All rights Reserved. 北京杰米网络科技有限公司 版权所有 京ICP备16028193号-1</span>
    </div>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
