body {
  /*font: 12px/1.5 "微软雅黑","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"宋体";*/
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

  width: 100%;
  max-width: 1080px;
  margin: 0 auto 0 auto;
  background-color: #ededed;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* head */
.head-wrapper {
    height: 60px;
}

.head-wrapper .bg {
    position: absolute;
    height: 60px;
    left: 0;
    right: 0;

    z-index: -1;
    background-color: #fff;
    /*border-bottom: 2px solid #eee;*/
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

.head-wrapper .logo {
    display: inline-block;
    position: relative;
    height: 60%;
    top: 20%;
    margin-left: 30px;
    border: none;
}

.head-wrapper ul {
    display: block;
    margin-right: 30px;

    float: right;
}

.head-wrapper ul li {
    display: inline-block;
    margin-left: 50px;
    height: 60px;
    box-sizing: border-box;
    transition: .1s;
    border-bottom: 0 solid #eee;
}

.head-wrapper ul li.active {
    border-bottom: 3px solid #0296d9 !important;
}

.head-wrapper ul li.active > a {
    color: #0296d9;
}

.head-wrapper ul li:hover {
    border-bottom: 3px solid #0f8dd0;
}

.head-wrapper ul li:hover > a {
    color: #0296d9;
}

.head-wrapper ul li h3 {
    height: 60px;
    line-height: 60px;
    margin: 0;
}

.head-wrapper ul li a {
    color: #888;
    text-decoration: none;
}

/* foot */
.foot-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #444;
    text-align: center;
    color: #bfbfbf;
    padding: 20px;
    font-size: 13px;
}

@media screen and (max-width: 450px) {

    .head-wrapper ul {
        display: none;
    }
    .head-wrapper {
        text-align: center;
        height: 3em;
    }
    .head-wrapper .logo {
        margin-left: 0;
    }
    .foot-wrapper{
        display: none;
    }
    .head-wrapper .bg {
        height: 3em;
    }
}
